<template>
  <v-app>
    <div id="app" class="small-container">
      <book-table 
        :books="getBooks"
        @edit-book="editBook"
        @add-book="addBook"
        @delete-book="deleteBook"
      />
    </div>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

import BookTable from "./components/BookTable.vue";

export default {
  name: "App",
  components: {
    BookTable
  },
  computed: {
    ...mapGetters('Book', ['getBooks'])
  },
  methods: {
     ...mapActions('Book', ['fetchBooks', 'addBook', 'editBook', 'deleteBook'])
  },

  async mounted() {
    if (this.getBooks.length === 0) {
      await this.fetchBooks();
    }
  }
}
</script>

<style lang="sass">
  .text-decoration-none
    text-decoration: none
  .wf-loading .material-icons
    display: none
  .v-application .markdown code
    box-shadow: none
    color: #c0341d
    background-color: #fbe5e1
  .v-application .markdown kbd > code
    background: transparent
    color: inherit
</style>