<template>
  <div id="book-table">
    <v-data-table
      :headers="headers"
      :items="books"
      :footer-props="footerproperties"
      :options="tableoptions"
      :search="search"
      item-key="id"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
          <v-divider
            class="mx-8"
            inset
            vertical
          ></v-divider>

          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>

          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
  
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6" md="12">
                      <v-text-field v-model="editedItem.name" single-line required label="Book name" @input="$v.editedItem.name.$touch()" @blur="$v.editedItem.name.$touch()" :error-messages="nameErrors"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="5" md="5">
                      <v-text-field v-model="editedItem.isbn" single-line required label="ISBN" type="number" @input="$v.editedItem.isbn.$touch()" @blur="$v.editedItem.isbn.$touch()" :error-messages="isbnErrors"></v-text-field>
                    </v-col>
                    <v-col cols="12" sm="4" md="4">
                      <v-text-field v-model="editedItem.price" single-line required label="Price" type="number" @input="$v.editedItem.price.$touch()" @blur="$v.editedItem.price.$touch()" :error-messages="priceErrors"></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>
  
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn color="blue darken-1" text @click="save" :disabled="$v.editedItem.$invalid">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          @click="deleteItem(item)"
        >
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { required, maxLength, minLength, decimal, between, integer } from "vuelidate/lib/validators";

export default {
  name: "book-table",
  props: {
    books: {}
  },
  data: () => ({
    appTitle: process.env.VUE_APP_TITLE,
    editedIndex: -1,
    dialog: false,
    isFormValid: false,
    editedItem: {
      name: '',
      isbn: '',
      price: ''
    },
    defaultItem: {
      name: '',
      isbn: '',
      price: '',
    },
    search: '',
    tableoptions: {
      itemsPerPage: 15,
      sortBy: [
        'id',
        'isbn'
      ],
      multiSort: true
    },
    footerproperties: {
        showFirstLastPage: true,
        firstIcon: 'mdi-arrow-collapse-left',
        lastIcon:  'mdi-arrow-collapse-right',
        prevIcon:  'mdi-minus',
        nextIcon:  'mdi-plus'
    },
    headers: [
      { text: 'Id',     value: 'id',      sortable: true,  filterable: false },
      { text: 'Name',   value: 'name',    sortable: true,  filterable: true  },
      { text: 'ISBN',   value: 'isbn',    sortable: true,  filterable: true  },
      { text: 'Price',  value: 'price',   sortable: true,  filterable: false  },
      { text: 'Action', value: 'actions', sortable: false, filterable: false }
    ]
  }),
  
  validations: {
    editedItem: {
      name: {
        required,
        maxLength: maxLength(50)
      },
      isbn: {
        required,
        minLength: minLength(13),
        maxLength: maxLength(13),
        integer
      },
      price: {
        required,
        decimal,
        between: between(1, 99999999)
      }
    }
  },

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },

    nameErrors () {
        const errors = []
        if (this.$v.editedItem.name.$dirty) {
          if (!this.$v.editedItem.name.required)  errors.push('Required')
          if (!this.$v.editedItem.name.maxLength) errors.push('Max')
        }
        return errors
    },

    isbnErrors () {
        const errors = []
        if (this.$v.editedItem.isbn.$dirty) {
          if (!this.$v.editedItem.isbn.required)  errors.push('Required')
          if (!this.$v.editedItem.isbn.maxLength) errors.push('Max')
          if (!this.$v.editedItem.isbn.minLength) errors.push('Min')
          if (!this.$v.editedItem.isbn.integer)   errors.push('Format')
        }
        return errors
    },

    priceErrors () {
        const errors = []
        if (this.$v.editedItem.price.$dirty) {
          if (!this.$v.editedItem.price.required) errors.push('Required')
          if (!this.$v.editedItem.price.decimal)  errors.push('Format')
          if (!this.$v.editedItem.price.between)  errors.push('Range')
        }
        return errors
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.books.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      this.$emit('delete-book', item.isbn);
    },

    close () {
      this.$v.$reset()
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex === -1) {
        this.$emit('add-book', this.editedItem);
      } else {
        this.$emit('edit-book', this.editedItem);
      }      
      this.close()
    }
  }
}
</script>